{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <h1>Sign in</h1>
    {% if form.errors %}
        <p>
            Username or password incorrect.
            Please try again.
        </p>
    {% else %}
        <p>Fill the below form to sign in. Don't have an account yet? You can sign up <a href="{% url 'register' %}">here</a>.</p>
    {% endif %}
    <div class="login-form">
        <form action='{% url "login" %}' method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Sign in"></p>
            <p><a href='{% url "password_reset" %}'>Forgot your password?</a></p>
        </form>
    </div>
    <div class="social">
        <ul>
            <li class="facebook"><a href="{% url 'social:begin' 'facebook' %}">Login with your Facebook account</a></li>
        </ul>
    </div>
{% endblock %}