{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h1>Password reset</h1>
    {% if validlink %}
        <p>Type your new password twice:</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p><input type="submit" value="Change password"/></p>
            {% csrf_token %}
        </form>
    {% else %}
        <p>Password reset link invalid. This probably happened because it was used previously. You need to reset your
        password again.</p>
    {% endif %}
{% endblock %}